* {
  margin: 0;
  padding: 0
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 8px;
}

th {
  background-color: black;
  color: white;
}

.container-table {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-detail {
  background-color: #000;
  color: white;
  margin: 50px 300px;
  padding: 20px;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.button-detail {
  padding: 6px 20px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
}

.container-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}